/**
 * ROFI Color theme
 * User: grozahn
 */

/* global settings and color variables */
* {
   maincolor:        #b294bb;
   urgentcolor:      #cc6666;

   fgwhite:          #c5c8c6;
   highlight:        underline;

   blackdarkest:     #1d1f21;
   blackwidget:      #282a2e;
   blackentry:       @blackdarkest;

   scrollbarcolor:   @blackwidget;
   border-color:     #151515;

   background-color: @blackdarkest;
}

window {
   border: 2px;
   background-color: @blackdarkest;
   anchor: center;
   location: center;
   y-offset: 12%;
}

mainbox {
   background-color: @blackdarkest;
   spacing: 0px;
   children: [inputbar, message, listview, sidebar];
}

message {
   padding: 6px 10px;
   background-color: @blackwidget;
}

textbox {
   text-color: @fgwhite;
   background-color: @blackwidget;
}

listview {
   fixed-height: true;
   dynamic: true;
   scrollbar: true;
   spacing: 5px;
   padding: 2px 0px 10px 0px;
   margin: 0px 0px 1px 0px;
   background: @blackdarkest;
}

element {
   padding: 3px 15px;
}

element normal.normal {
   padding: 0px 15px;
   background-color: @blackentry;
   text-color: @fgwhite;
}

element normal.urgent {
   background-color: @blackentry;
   text-color: @urgentcolor;
}

element normal.active {
   background-color: @blackentry;
   text-color: @maincolor;
}

element selected.normal {
    background-color: @maincolor;
    text-color:       @blackwidget;
}

element selected.urgent {
    background-color: @urgentcolor;
    text-color:       @blackwidget;
}

element selected.active {
    background-color: @maincolor;
    text-color:       @blackwidget;
}

element alternate.normal {
    background-color: @blackentry;
    text-color:       @fgwhite;
}

element alternate.urgent {
    background-color: @blackentry;
    text-color:       @urgentcolor;
}

element alternate.active {
    background-color: @blackentry;
    text-color:       @maincolor;
}

scrollbar {
   background-color: @blackdarkest;
   handle-color: @blackwidget;
   handle-width: 5px;
}

sidebar {
   background-color: @blackwidget;
}

button {
   background-color: @blackwidget;
   text-color:       @fgwhite;
}

button selected {
    text-color:       @maincolor;
}

inputbar {
   background-color: @blackdarkest;
   spacing: 0px;
}

prompt {
   padding: 6px 9px;
   background-color: @maincolor;
   text-color: @blackwidget;
}

entry {
   padding: 6px 10px;
   background-color: @blackwidget;
   text-color: @fgwhite;
}

case-indicator {
   padding:6px 10px;
   text-color: @maincolor;
   background-color: @blackwidget;
}
